NEXT_PUBLIC_SUPABASE_URL=https://wprldjkaaiiisssgzmke.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lvebZbvMEdt5d1gfV1p_EQ_F_H9iW05

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwcmxkamthYWlpaXNzc2d6bWtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMzMyMzksImV4cCI6MjA5NTgwOTIzOX0.sTS5Oro8KCY0g74dZpMAjEEVVAaNU6iAxiYAMRp-Hbk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwcmxkamthYWlpaXNzc2d6bWtlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDIzMzIzOSwiZXhwIjoyMDk1ODA5MjM5fQ.HNx73uYzwjKnvS-efGN285TA_vWf8o9M7C1KHYTNZWo
NEXT_PUBLIC_SITE_URL=http://localhost:3000

RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL="Cedur Reports <reports@yourdomain.com>"
RESEND_REPLY_TO_EMAIL=support@yourdomain.com
